.card {
  margin: 0;
  flex-basis: 500px;
  max-width: 600px;
}

.card__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 32px;
}

.card__list-items {
  padding: 0;
  margin: 0;
}

.card__list-item {
  list-style: none;
  display: flex;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.card__list-divider {
  border-bottom: solid white 1px;
  flex-grow: 1;
}
