.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  margin-top: 8px;
  height: 60px;
  border-radius: 4px;
  border-color: #838383;
  margin-bottom: 32px;
}

.form__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  border-style: none;
  color: #fff;
  border-radius: 4px;
  opacity: 100%;
  transition: opacity 0.15s ease-in 0.15s;
  height: 60px;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  margin-right: 12px;
  border-radius: 2px;
}

.form__label-checkbox {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}

.form__checkbox:checked {
  background-image: url("./images/check.svg");
  background-size: auto;
}
