.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.menu__title {
  margin: 0 auto;
  max-width: 780px;
  margin-top: 100px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 0 auto;
  margin-top: 24px;
  max-width: 780px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 100px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  gap: 100px;
  margin-bottom: 100px;
  justify-content: center;
}
