.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin-left: 30px;
  margin-top: 30px;
  height: 125px;
  width: 142px;
  position: relative;
}

.nav__links {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  column-gap: 20px;
  position: relative;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__link {
  color: #000000;
  transition: color 0.12s ease-in-out 0.12s;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
}
