.recipes {
  background-image: url("../images/background_recipes.svg");
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
}

.recipes__title {
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__videos-figure {
  margin: 0;
}

.recipes__iframe {
  border: 0;
  height: 273px;
  width: 480px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 215px;
  margin-top: 24px;
}
